.header,
.mainheader,
p,
.list {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.mainheader {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

img {
    height: auto;
    width: 400;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header{
font-size: 22px;
font-weight: 600;
}

p,
.list{
    font-size: 16px;
}